IMPORTS

In [1]:
import datetime
from dateutil import parser
import pandas as pd
import numpy as np

DATA LOADING

In [2]:
userTime = pd.read_csv("userTime.csv")

DATA PREFILTERED FOR USERS WITH MORE THAN 100 RATINGS

In [3]:
# userTime = userTime.drop(userTime.columns[0], axis=1)
display(userTime)

,Unnamed: 0,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
0,1488844,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,822109,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,885013,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,30878,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
4,823519,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236112,1410721,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236113,1121358,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236114,724334,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236115,1613301,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236116,2358447,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Helper function for finding inactive users

In [4]:
def helper(matrix):
    toss = []
    for index, row in matrix.iterrows():
        res = np.sum(row[1:])
        if res<=15:
            # toss.append(int(row[0]))
            toss.append(index)
    return toss

Get starting users

In [5]:
userID = userTime.loc[:,"Unnamed: 0"]
pre2002 = userTime.iloc[:, 1:782 :1]
pre2002.index = np.array(userID)
display(pre2002)
startingUsers = []
for index, row in pre2002.iterrows():
    res = np.sum(row[1:])
    if res>0:
        # toss.append(int(row[0]))
        startingUsers.append(index)
print(len(startingUsers))

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2001-12-21,2001-12-22,2001-12-23,2001-12-24,2001-12-25,2001-12-26,2001-12-27,2001-12-28,2001-12-29,2001-12-30
1488844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
822109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
885013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
823519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1121358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
724334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1613301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2358447,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

16312

In [6]:
users = open("users.txt","r")
toss = set()
for line in users:
    user = int(line.replace(",\n",""))
    if user in startingUsers:
        pass
    else:
        toss.add(user)

In [8]:
print(len(userTime)-len(toss))

16312

Chunking phase 0

In [9]:
splice = userTime.iloc[0:, 783:1148:1]
userID = userTime.loc[:,"Unnamed: 0"]

splice.index = np.array(userID)
toss0 = list(toss)

spliceF0 = userTime.copy()
spliceF0.index = np.array(userID)

spliceF0 = spliceF0.drop(toss0)
display(spliceF0)

drop = helper(spliceF0)
print(len(spliceF0)-len(drop))
# 2002,1,1

,Unnamed: 0,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
30878,30878,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
525356,525356,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
494609,494609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1792741,1792741,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
782308,782308,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422780,422780,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2085017,2085017,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1847952,1847952,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
221512,221512,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1203767,1203767,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

15635

Chunking Phase 1

In [10]:
for i in drop:
    toss.add(i)
print(len(splice)-len(toss))

toss1 = list(toss)

spliceF1 = userTime.copy()
spliceF1.index = np.array(userID)

spliceF1 = spliceF1.drop(toss1)

spliceF1 = spliceF1.iloc[0:, 1148:1513:1]
# display(spliceF1)
dropF1 = helper(spliceF1)
print(len(spliceF1)-len(dropF1))
# 2003,1,1

15635
7999

Chunking Phase 2

In [12]:
for i in dropF1:
    toss.add(i)
print(len(splice)-len(toss))
toss2 = list(toss)

spliceF2 = userTime.copy()

spliceF2.index = np.array(userID)

spliceF2 = spliceF2.drop(toss2)

spliceF2 = spliceF2.iloc[0:, 1513:1878:1]
# display(spliceF2)
dropF2 = helper(spliceF2)
print(len(spliceF2)-len(dropF2))
# 2004,1,1

7999
7385

Chunking Phase 3

In [13]:
for i in dropF2:
    toss.add(i)
print(len(splice)-len(toss))
toss3 = list(toss)

spliceF3 = userTime.copy()

spliceF3.index = np.array(userID)

spliceF3 = spliceF3.drop(toss3)

spliceF3 = spliceF3.iloc[0:, 1878:2244:1]
# display(spliceF3)
dropF3 = helper(spliceF3)
print(len(spliceF3)-len(dropF3))
# 2004,1,1

7385
5598

Result after Chunking by 365 days and filter each chunk for inactive users

In [14]:
for i in dropF3:
    toss.add(i)
print(len(splice)-len(toss))
toss4 = list(toss)

spliceF4 = userTime.copy()
spliceF4.index = np.array(userID)

spliceF4 = spliceF4.drop(toss4)
display(spliceF4)

5598

,Unnamed: 0,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,...,2005-12-22,2005-12-23,2005-12-24,2005-12-25,2005-12-26,2005-12-27,2005-12-28,2005-12-29,2005-12-30,2005-12-31
525356,525356,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
494609,494609,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1792741,1792741,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
706832,706832,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1287892,1287892,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134416,2134416,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2304992,2304992,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
976918,976918,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1382900,1382900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
782025,782025,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

SLIDING WINDOW

In [20]:
userID = userTime.loc[:,"Unnamed: 0"]
pre2002 = userTime.iloc[:, 1:782 :1]
pre2002.index = np.array(userID)
display(pre2002)
startingUsers = []
for index, row in pre2002.iterrows():
    res = np.sum(row[1:])
    if res>0:
        # toss.append(int(row[0]))
        startingUsers.append(index)
print(len(startingUsers))

,1999-11-11,1999-11-12,1999-11-13,1999-11-14,1999-11-15,1999-11-16,1999-11-17,1999-11-18,1999-11-19,1999-11-20,...,2001-12-21,2001-12-22,2001-12-23,2001-12-24,2001-12-25,2001-12-26,2001-12-27,2001-12-28,2001-12-29,2001-12-30
1488844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
822109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
885013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
823519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410721,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1121358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
724334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1613301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2358447,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

16312

In [21]:
users = open("users.txt","r")
toss = set()
for line in users:
    user = int(line.replace(",\n",""))
    if user in startingUsers:
        pass
    else:
        toss.add(user)

In [ ]:
print(len(toss))
print(len(userTime)-len(toss))

219805
16312

In [30]:
# sliding window
userID = userTime.loc[:,"Unnamed: 0"]
steps = 10
gran = 91

for i in range(0,13):
    start = i* gran + 783
    end = i*gran + 1148

    splice = userTime.iloc[:, start:end :1]
    splice.index = np.array(userID)
    splice = splice.drop(list(toss))
    res = helper(splice)
    for i in res:
        toss.add(i)
    print(start,end,len(userTime)-len(toss))

783 1148 6572
874 1239 6064
965 1330 5633
1056 1421 5375
1147 1512 5182
1238 1603 4998
1329 1694 4918
1420 1785 4849
1511 1876 4794
1602 1967 4720
1693 2058 4482
1784 2149 4246
1875 2240 3909